.form-control {
  display: flex;
  margin: 0.25rem 0;
  align-items: center;
  justify-content: flex-end;
}
.form-control label {
  flex-grow: 2;
  text-align: right;
  font-weight: bold;
  font-size: 0.75em;
  padding: 0.25rem 0.5rem;
  letter-spacing: -1px;
  min-width: 50%;
}
.form-control button,
.form-control input {
  flex-grow: 1;
  width: 100%;
  padding: 0.25rem;
}
.form-control input[disabled] {
  border-color: transparent;
  border-bottom: 1px dashed #888;
  background: none;
}
